<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="fragments/header :: head(title=#{home.title})"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>

  <div th:insert="fragments/nav :: nav"></div>

  <div class="container">
    <div id="row1" class="my-4">
      <div class="card-deck">
        <div class="card">
          <div class="card-header font-weight-bold bg-warning">In
            Progress</div>
          <div class="card-body">
            <ol class="card-text">
              <li th:each="report: ${progressReports}" >
                <a th:href="@{'/admin/report/' + ${report.id}}" th:text="${report.title}"></a>
              </li>
            </ol>
            
          </div>
          <div class="card-footer">
            <a th:href="@{/admin/report}" class="btn btn-primary float-left">Create Report</a>
            <button th:if="${progressReports.size() > 4}"
              class="btn btn-theme float-right" type="button">
              View All</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header font-weight-bold bg-info">Review
            Submitted Reports</div>
          <div class="card-body">
            <ol class="card-text">
              <li th:each="report: ${submittedReports}" >
                <a th:href="@{'/admin/roreport/' + ${report.id}}" th:text="${report.title}"></a>
              </li>
            </ol>
          </div>
          <div class="card-footer text-center">
            <button th:if="${submittedReports.size() > 4}"
              class="btn btn-theme float-right" type="button">
              View All</button>
          </div>
        </div>
      </div>
    </div>
    <div id="row2" class="my-4">
      <div class="card-deck">
        <div class="card">
          <div class="card-header font-weight-bold bg-danger">Action
            Requested</div>
          <div class="card-body">
            <ol class="card-text">
              <li th:each="report: ${rejectedReports}" >
                <a th:href="@{'/admin/report/' + ${report.id}}" th:text="${report.title}"></a>
              </li>
            </ol>
          </div>
          <div class="card-footer">
            <div>
              <button th:if="${rejectedReports.size() > 4}"
                class="btn btn-theme float-right" type="button">
                View All</button>
              </div>
              <div>
                <small class="text-muted">The above reports require attention</small>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header font-weight-bold bg-success">Approved</div>
          <div class="card-body">
            <ol class="card-text">
              <li th:each="report: ${approvedReports}" >
                <a th:href="@{'/admin/report/' + ${report.id}}" th:text="${report.title}"></a>
              </li>
            </ol>
          </div>
          <div class="card-footer">
            <button th:if="${approvedReports.size() > 4}"
              class="btn btn-theme float-right" type="button">
              View All</button>
          </div>
        </div>
      </div>
    </div>
    <br /><br />

  </div>
  <div th:insert="fragments/footer :: footer"></div>
</body>
</html>