<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="fragments/header :: head(title=#{home.title})"></head>
</head>
<body>
  <div class="container">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Interesting Data</label> <input
            type="email" class="form-control" id="inputEmail4"
            placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Maoar!! Input</label> <input
            type="password" class="form-control" id="inputPassword4"
            placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">What's that, plz enter more</label> <input
          type="text" class="form-control" id="inputAddress"
          placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Another Address or something</label>
        <input type="text" class="form-control" id="inputAddress2"
          placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label> <input type="text"
            class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label> <select id="inputState"
            class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label> <input type="text"
            class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck"> Check
            me out </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary"
        onClick="alert('I dont work yet')">Submit</button>
    </form>
  </div>
  <div th:insert="fragments/footer :: footer"></div>
</body>
</html>