<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="fragments/header :: head(title=#{home.title})"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>
<body>

  <div th:insert="fragments/nav :: nav"></div>

  <div class="container">
    <div class="my-4">
      <div th:each="history : ${report.history}"
        class="alert alert-dismissible fade show"
        th:classappend="${history.status} == 3 ? alert-danger : alert-success"
        role="alert">
        <span
          th:text="${#dates.format(history.created, 'MM/dd/yyyy KK:mma')} + ' - '
                     + ${history.modifier.name} + ' - ' + ${history.reason}"></span>
        <button type="button" class="close" data-dismiss="alert"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded my-4">
      <fieldset disabled>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="${report.title}">
          </div>
          <div class="form-group col-md-4">
            <label for="one">One</label>
            <input type="text" class="form-control" id="one" th:field="${report.one}">
          </div>
          <div class="form-group col-md-4">
          </div>
        </div>
        <div class="form-group">
          <label for="two">Two</label>
          <input type="text" class="form-control" id="two" th:field="${report.two}">
        </div>
        <div class="form-group">
          <label for="three">Three</label>
          <input type="text" class="form-control" id="three" th:field="${report.three}">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="four">Four</label>
            <input type="text" class="form-control" id="four" th:field="${report.four}">
          </div>
          <div class="form-group col-md-4">
            <label for="drugType">Drug Type</label>
            <input type="text" class="form-control" id="drugType" th:field="${report.drugType}">
          </div>
          <div class="form-group col-md-2">
            <label for="five">Five</label>
            <input type="text" class="form-control" id="five" th:field="${report.five}">
          </div>
        </div>
      </fieldset>
    </div>
    
    <div class="shadow-lg p-3 mb-5 bg-white rounded my-4">
      <form action="#" th:action="@{/approval}" method="post" >
        <button type="submit" name="approve" value="approved" class="btn btn-success float-right mr-2">Approve</button>
        <button type="submit" name="reject" value="rejected" class="btn btn-danger float-right mr-2">Reject</button>
        <label for="reason">Reason</label>
        <textarea id="reason" name="reason" >Reason for approval/rejection</textarea>
        <input type="hidden" th:field="${report.id}" >
      </form>
    </div>
    
    <br/><br/>
  </div>
  <div th:insert="fragments/footer :: footer"></div>
</body>
</html>